<form {{action "postItem" on="submit"}} class="form-horizontal">
  <legend>{{#if id}}Edit project {{name}}{{else}}Add new project{{/if}}</legend>
  <div class="form-group">
    {{#if errorBrand}}
      <label class="control-label col-sm-2 alert-danger">Brand</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Brand</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=brandsSort
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=brand.content
       action="updateGitpath"
       prompt="Please select a Brand"
       disabled=isDisableAdmin}}
     </div>
  </div>

  <div class="form-group">
    {{#if errorName}}
      <label class="control-label col-sm-2 alert-danger">Name</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Name</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="text"
            classNames="form-control"
            value=name
            placeholder="Name"
            on="key-press"
            readonly=isDisableAdmin}}
     </div>
  </div>

  <div class="form-group">
    {{#if errorBrand}}
      <label class="control-label col-sm-2 alert-danger">Gitpath</label>
    {{else}}
      {{#if errorName}}
        <label class="control-label col-sm-2 alert-danger">Gitpath</label>
      {{else}}
        <label class="control-label col-sm-2 alert-success">Gitpath</label>
      {{/if}}
    {{/if}}
    <div class="col-sm-3">
    {{input type="text"
            classNames="form-control"
            value=gitpath
            placeholder="Gitpath"
            readonly=true}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorLogin}}
      <label class="control-label col-sm-2 alert-danger">Login</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Login</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="text" classNames="form-control" value=login placeholder="Login" readonly=isDisableAdmin}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorPassword}}
      <label class="control-label col-sm-2 alert-danger">Password</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Password</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="text" classNames="form-control" value=password placeholder="Password" readonly=isDisableAdmin}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorFramework}}
      <label class="control-label col-sm-2 alert-danger">Framework</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Framework</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=frameworksSort
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=framework.content
       prompt="Please select a Framework"
       disabled=isDisableAdmin}}
     </div>
  </div>

  <div class="form-group">
    {{#if errorSystem}}
      <label class="control-label col-sm-2 alert-danger">System</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">System</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=systemsSort
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=systemimagetype.content
       prompt="Please select a System"
       disabled=isDisableAdmin}}
     </div>
  </div>

  <div class="form-group">
    {{#if errorVmsizes}}
      <label class="control-label col-sm-2 alert-danger">Sizing</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Sizing</label>
    {{/if}}
    <div class="checkbox col-sm-3">
    {{#each checkedVmsizes}}
      <label>{{input type="checkbox" checked=checked disabled=readonly}} {{content.title}} ({{content.description}})</label><br/>
    {{/each}}
    </div>
  </div>
  <br/>

  <div class="form-group">
    {{#if errorTechnos}}
      <label class="control-label col-sm-2 alert-danger">Technos</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Technos</label>
    {{/if}}
    <div class="checkbox col-sm-3">
    {{#each checkedTechnos}}
      <label>{{input type="checkbox" checked=checked disabled=readonly}} {{content.name}}</label><br/>
    {{/each}}
    </div>
  </div>
  <br/>

  <div class="form-group">
    {{#if errorUsers}}
      <label class="control-label col-sm-2 alert-danger">Users</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Users</label>
    {{/if}}
    <div class="checkbox col-sm-4">
    {{#each checkedUsers}}
      <label>{{input type="checkbox" checked=checked disabled=readonly}} {{content.email}} ({{content.group.name}})</label><br/>
    {{/each}}
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      {{#if loadingButton}}
        <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
      {{else}}
        <button type="submit" class="btn btn-primary">Submit</button>
      {{/if}}
    </div>
  </div>
</form>