{{#if isAuthenticated}}
Welcome {{currentUser.email}}, you are authenticated !
{{else}}
<form {{action "loginUser" on="submit"}} class="form-horizontal">
  <legend>Please login</legend>
  <div class="form-group">
    <label class="control-label col-sm-2">Email Address</label>
    <div class="col-sm-3">
    {{input type="email" classNames="form-control" value=email placeholder="Email Address"}}
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Password</label>
    <div class="col-sm-3">
    {{input type="password" classNames="form-control" value=password placeholder="Password"}}
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

  {{#if error401}}
  <div class="form-group">
    <label class="control-label col-sm-2 danger">Error</label>
    <div class="col-sm-3">You have an error on your email or passord.</div>
  </div>
  {{/if}}

  {{#if error500}}
  <div class="form-group">
    <label class="control-label col-sm-2 danger">Error</label>
    <div class="col-sm-3">A server error has occured. Please contact the support.</div>
  </div>
  {{/if}}

</form>

{{/if}}