<table class="table">
 <thead>
  <tr>
    {{#if isAdmin}}
    <th><span {{action "toggleDeleteAll"}} class="glyphicon glyphicon-check"></span></th>
    {{/if}}
    <th>Email</th>
    <th>Group</th>
    <th>Company</th>
    <th>Quota</th>
    <th>Projects</th>
    <th>Vms</th>
    <th>Sshkeys</th>
  </tr>
</thead>

<tbody>
  {{#each user in users}}
  <tr>
    {{#if isAdmin}}
    <td>{{input type="checkbox" checked=user.todelete}}</td>
    {{/if}}
    {{#if isLead}}
      <td>{{#linkTo 'users.edit' user.id}}{{user.email}}{{/linkTo}}</td>
    {{else}}
      {{#if user.isCurrent}}
        <td>{{#linkTo 'users.edit' user.id}}{{user.email}}{{/linkTo}}</td>
      {{else}}
        <td>{{user.email}}</td>
      {{/if}}
    {{/if}}

    {{#if isAdmin}}
      <td>{{#linkTo 'users.bygroup' user.group.id}}{{user.group.name}}{{/linkTo}}</td>
    {{else}}
      <td>{{user.group.name}}</td>
    {{/if}}

    <td>{{user.company}}</td>
    <td>{{user.quotavm}}</td>

    {{#if isAdmin}}
      <td>{{#linkTo 'projects.byuser' user.id}}{{user.projects.length}}{{/linkTo}}</td>
    {{else}}
      {{#if user.isCurrent}}
        <td>{{#linkTo 'projects.byuser' user.id}}{{user.projects.length}}{{/linkTo}}</td>
      {{else}}
        <td>{{user.projects.length}}</td>
      {{/if}}
    {{/if}}

    {{#if isAdmin}}
      <td>{{#linkTo 'vms.byuser' user.id}}{{user.vms.length}}{{/linkTo}}</td>
    {{else}}
      {{#if user.isCurrent}}
        <td>{{#linkTo 'vms.byuser' user.id}}{{user.vms.length}}{{/linkTo}}</td>
      {{else}}
        <td>{{user.vms.length}}</td>
      {{/if}}
    {{/if}}

    {{#if isAdmin}}
      <td>{{#linkTo 'sshkeys.byuser' user.id}}{{user.sshkeys.length}}{{/linkTo}}</td>
    {{else}}
      {{#if user.isCurrent}}
        <td>{{#linkTo 'sshkeys.byuser' user.id}}{{user.sshkeys.length}}{{/linkTo}}</td>
      {{else}}
        <td>{{user.sshkeys.length}}</td>
      {{/if}}
    {{/if}}
  </tr>
  {{/each}}
</tbody>
</table>

{{#if isAdmin}}
  <div class="btn-group" style="margin: 9px 0 5px;">
  <button {{action "newItem"}} class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></button>
  {{#if isShowingDeleteConfirmation}}
    <button {{action "deleteItems"}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Confirm to delete list</button>
  {{else}}
    <button {{action "showDeleteConfirmation"}} class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
  {{/if}}
  </div>
{{/if}}