<form {{action "postItem" on="submit"}} class="form-horizontal">
  <legend>{{#if id}}Edit user {{email}}{{else}}Add new user{{/if}}</legend>
  <div class="form-group">
    {{#if errorEmail}}
        <label class="control-label alert-danger col-sm-2">Invalid Email !</label>
    {{else}}
        <label class="control-label alert-success col-sm-2">Email Address</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="email" classNames="form-control" value=email placeholder="Email Address" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorCompany}}
      <label class="control-label alert-danger col-sm-2">Can't be blank !</label>
    {{else}}
      <label class="control-label alert-success col-sm-2">Company</label>
    {{/if}}
    <div class="col-sm-3">
    {{input type="text" classNames="form-control" value=company placeholder="Company" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorGroup}}
      <label class="control-label col-sm-2 alert-danger">Group</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Group</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=groupSort
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=group.content
       prompt="Please select a Group"
       disabled=isDisableAdmin}}
     </div>
  </div>

  
  <div class="form-group">
    <label class="control-label alert-success col-sm-2">Quotavm</label>
    <div class="col-sm-3">
      {{view Ember.Select
         classNames="form-control"
         selection=quotavm
         content=quotavmlist
         disabled=isDisableLead}}
    </div>
  </div>  

  <div class="form-group">
    {{#if successPassword}}
      {{#if successPassword2}}
        <label class="control-label alert-success col-sm-2">Password</label>
      {{else}}
        <label class="control-label alert-danger col-sm-2">Must be equal with Confirm !</label>
      {{/if}}
    {{else}}
      {{#if errorPassword}}
        <label class="control-label alert-danger col-sm-2"> >= 8 chars !</label>
      {{else}}
        <label class="control-label col-sm-2">Password</label>
      {{/if}}
    {{/if}}

    <div class="col-sm-3">
    {{input type="password" classNames="form-control" value=password placeholder="Password" disabled=isDisable}}
    </div>
  </div>

  <div class="form-group">
    {{#if successPasswordConfirmation}}
      {{#if successPassword2}}
        <label class="control-label alert-success col-sm-2">Password Confirmation</label>
      {{else}}
        <label class="control-label alert-danger col-sm-2">Must be equal with Password !</label>
      {{/if}}
    {{else}}
      {{#if errorPasswordConfirmation}}
        <label class="control-label alert-danger col-sm-2"> >= 8 chars !</label>
      {{else}}
        <label class="control-label col-sm-2">Password Confirmation</label>
      {{/if}}
    {{/if}}<div class="col-sm-3">
    {{input type="password" classNames="form-control" value=password_confirmation placeholder="Password" disabled=isDisable}}
    </div>
  </div>

  {{#if isEnable}}
  <div class="form-group">
    <label class="control-label col-sm-2 alert-success">Projects</label>
    <div class="checkbox col-sm-4">
    {{#each checkedProjects}}
      <label>{{input type="checkbox" checked=checked disabled=readonly}} {{content.name}} ({{content.brand.name}})</label><br/>
    {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <div class="control-label col-sm-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

{{#if isEnable}}
{{#if id}}
  <legend>SSh Keys</legend>
  {{render 'sshkeys.list' sshkeys}}
{{/if}}
{{/if}}