Hello <%= @user.firstname %> <%= @user.lastname %>
===============================================
<% if @status == 0 %>
A problem is detected on your vm for the techno <%= @techno.name %> (<%= @technotype.name %>)
<% else %>
The problem is resolved on your vm for the techno <%= @techno.name %> (<%= @technotype.name %>)
<% end %>
==============================================
Nextdeploy, <%= @url %>.
Thanks for your attention and have a great day!</p>
