Hello <%= @user.firstname %> <%= @user.lastname %>
===============================================
<% if @status %>
The problem is resolved on your vm <%= @vm.name %> for the techno <%= @techno.name %> (<%= @technotype.name %>)
<% else %>
A problem is detected on your vm <%= @vm.name %> for the techno <%= @techno.name %> (<%= @technotype.name %>)
<% end %>
==============================================
Nextdeploy, <%= @url %>.
Thanks for your attention and have a great day!</p>
