<table class="table">
 <thead>
    <tr>
        <th><span {{action "toggleDeleteAll"}} class="glyphicon glyphicon-check"></span></th>
        <th>Commit</th>
        <th>Uri</th>
        <th>Project</th>
        <th>System</th>
        <th>User</th>
        <th>Floating_ip</th>
        <th>Nova_id</th>
        <th>Flavor</th>
        <th>Date</th>
    </tr>
</thead>
<tbody>
  {{#each vm in vms}}
    <tr>
        <td>{{input type="checkbox" checked=vm.todelete}}</td>
        <td>{{vm.commit.short_id}}</td>
        <td><span {{action "showUri" vm.name vm.project.login vm.project.password}} class="glyphicon glyphicon-new-window"></span></td>
        <td>{{#linkTo 'vms.byproject' vm.project.id}}{{vm.project.name}}{{/linkTo}}</td>
        <td>{{vm.systemimage.name}}</td>
        <td>{{#linkTo 'vms.byuser' user.id}}{{vm.user.email}}{{/linkTo}}</td>
        <td>{{vm.floating_ip}}</td>
        <td>{{vm.nova_id}}</td>
        <td>{{vm.vmsize.title}}</td>
        <td>{{vm.created_at_short}}</td>
    </tr>
    {{/each}}
</tbody>
</table>
<div class="btn-group" style="margin: 9px 0 5px;">
    <button {{action "newItem"}} class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></button>
{{#if isShowingDeleteConfirmation}}
  <button {{action "deleteItems"}} class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Confirm to delete list</button>
{{else}}
  <button {{action "showDeleteConfirmation"}} class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
{{/if}}
</div>