<form {{action "createItem" on="submit"}} class="form-horizontal">
  <legend>Launch new vm</legend>
  <div class="form-group">
    {{#if errorProject}}
      <label class="control-label col-sm-2 alert-danger">Project</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Project</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=projectsSort
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=selectedProject
       prompt="Please select a Project"}}
    </div>
  </div>

  {{#if advancedForm}}
  <div class="form-group">
    {{#if errorVmsize}}
      <label class="control-label col-sm-2 alert-danger">Sizing</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Sizing</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=vmsizesList
       optionValuePath="content.id"
       optionLabelPath="content.title"
       selection=selectedSizing
       prompt="Please select a Sizing"}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorUser}}
      <label class="control-label col-sm-2 alert-danger">User</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">User</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=usersList
       optionValuePath="content.id"
       optionLabelPath="content.email"
       selection=selectedUser
       prompt="Please select an User"}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    {{#if errorBranch}}
      <label class="control-label col-sm-2 alert-danger">Branch</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Branch</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=selectedProject.branches
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=selectedBranch
       prompt="Please select a Branch"}}
    </div>
  </div>

  {{#if advancedForm}}
  <div class="form-group">
    {{#if errorCommit}}
      <label class="control-label col-sm-2 alert-danger">Commit</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">Commit</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=selectedBranch.commits
       optionValuePath="content.id"
       optionLabelPath="content.short_id"
       selection=selectedCommit
       prompt="Please select a Commit"}}
    </div>
  </div>

  <div class="form-group">
    {{#if errorOs}}
      <label class="control-label col-sm-2 alert-danger">System</label>
    {{else}}
      <label class="control-label col-sm-2 alert-success">System</label>
    {{/if}}
    <div class="col-sm-3">
    {{view Ember.Select
       classNames="form-control"
       content=osSort
       optionValuePath="content.id"
       optionLabelPath="content.name"
       selection=selectedOs
       prompt="Please select an Os"}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
  {{#if advancedForm}}
  <button {{action "toggleAdvanced"}} class="btn btn-default"><span class="glyphicon glyphicon-collapse-up"></span> Standard Mode</button><br/>
  {{else}}
  <button {{action "toggleAdvanced"}} class="btn btn-default"><span class="glyphicon glyphicon-collapse-down"></span> Advanced Mode</button><br/>
  {{/if}}
  <label class="control-label col-sm-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </label>
  </div>

<div class="form-group">
{{#each message in model.errors.messages}}
  <div class="error">
    {{message}}
  </div>
{{/each}}
</div>
</form>